{% extends 'home/index.html' %}
{% load static %}
{% block content %}
    <body>
         <div class="career_block">
            <div class="career_banner">
                <div class="career_banner_img">
                    <img src="{% static 'images/career-banne.jpeg' %}" alt="">
                </div>
            </div>
            <div class="container career_body">
                <div class="career_card_head">
                    <div class="career_card_title">
                       Career<span class="head_career">Page</span>
                    </div>
                </div>
                <div class="career_card_table_block">
                    <div class="carrer_card_table_wrapper">
                        <div class="career_card_table">
                            <table width="100%" height="67" cellpadding="12" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <th>Job title</th>
                                        <th>job ID</th>
                                        <th>Location</th>
                                        <th>Date Opened</th>
                                        <th>Qualification</th>
                                        <th>Experiance</th>
                                        <th>Download Criteria</th>
                                        <th>Apply</th>
                                    </tr>
                                    <tr>
                                        <td><b>Project Head- Solar Water Heater</b></td>
                                        <td><b>17</b></td>
                                        <td>Coimbatore</td>
                                        <td>2023-03-08</td>
                                        <td>Diploma/B.Tech/ BE (Mechanical ) /Graduate with MBA</td>
                                        <td><b>Experience10 to 15 years in total. Experience in solar Water Heaters - 3 yrs</b></td>
                                        <td><a href="https://www.hykonindia.com/career/downloads/Job%20description%20project%20head.pdf" target="_blank">Download</a></td>
                                        <td><a href="#">Apply</a></td>
                                    </tr>
                                    <tr>
                                        <td><b>Project Head- Solar Water Heater</b></td>
                                        <td><b>17</b></td>
                                        <td>Coimbatore</td>
                                        <td>2023-03-08</td>
                                        <td>Diploma/B.Tech/ BE (Mechanical ) /Graduate with MBA</td>
                                        <td><b>Experience10 to 15 years in total. Experience in solar Water Heaters - 3 yrs</b></td>
                                        <td><a href="https://www.hykonindia.com/career/downloads/Job%20description%20project%20head.pdf" target="_blank">Download</a></td>
                                        <td><a href="#">Apply</a></td>
                                    </tr>
                                    <tr>
                                        <td><b>Project Head- Solar Water Heater</b></td>
                                        <td><b>17</b></td>
                                        <td>Coimbatore</td>
                                        <td>2023-03-08</td>
                                        <td>Diploma/B.Tech/ BE (Mechanical ) /Graduate with MBA</td>
                                        <td><b>Experience10 to 15 years in total. Experience in solar Water Heaters - 3 yrs</b></td>
                                        <td><a href="https://www.hykonindia.com/career/downloads/Job%20description%20project%20head.pdf" target="_blank">Download</a></td>
                                        <td><a href="#">Apply</a></td>
                                    </tr>
                                    <tr>
                                        <td><b>Project Head- Solar Water Heater</b></td>
                                        <td><b>17</b></td>
                                        <td>Coimbatore</td>
                                        <td>2023-03-08</td>
                                        <td>Diploma/B.Tech/ BE (Mechanical ) /Graduate with MBA</td>
                                        <td><b>Experience10 to 15 years in total. Experience in solar Water Heaters - 3 yrs</b></td>
                                        <td><a href="https://www.hykonindia.com/career/downloads/Job%20description%20project%20head.pdf" target="_blank">Download</a></td>
                                        <td><a href="#">Apply</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
         <script src="js/bootstrap.min.js"></script>
    </body>

    {% endblock  %}


