{% load static %}
<footer class="mobile-footer">
    <div class="footer-top call-action" >
        <div class="container d-flex justify-content-center align-items-center">
           <div class="footer-top-text">Have any questions? </div>
           <a class="btn-getintouch" data-bs-toggle="modal" data-bs-target="#get-in-touch">Get in touch</a>
        </div>
     </div>
    <ul class="mobile-footer-wrapper">
        <li class="mobile-footer-links">
            <div class="site-footer__widget footer-links">
                <div class="footer-logo">
                   <img src="{% static 'images/hykon-logo.png' %}" width="120">
                </div>
                <div class="footer-newsletter__text footer-newsletter__text_social">
                   Follow us on social networks
                </div>
                <div class="footer-bootom-flex">
                   <ul class="footer-newsletter__social_links">
                      <li
                         class="footer-newsletter__social-link footer-newsletter__social-link--facebook">
                         <a href="https://www.facebook.com/HykonIndiaLimited/" target="_blank"
                            data-checked="false"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li
                         class="footer-newsletter__social-link footer-newsletter__social-link--twitter">
                         <a href="https://twitter.com/hykongroup?lang=en" target="_blank"
                            data-checked="false"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li
                         class="footer-newsletter__social-link footer-newsletter__social-link--instagram">
                         <a href="https://www.instagram.com/hykonindia/?hl=en" target="_blank"
                            data-checked="false"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li
                         class="footer-newsletter__social-link footer-newsletter__social-link--linkedin">
                         <a href="https://www.linkedin.com/company/hykonindialimited"
                            target="_blank" data-checked="false"><i
                            class="fab fa-linkedin-in"></i></a>
                      </li>
                      <li
                         class="footer-newsletter__social-link footer-newsletter__social-link--youtube">
                         <a href="https://www.youtube.com/c/HykonIndiaLimited" target="_blank"
                            data-checked="false"><i class="fab fa-youtube"></i></a>
                      </li>
                      <li
                         class="footer-newsletter__social-link footer-newsletter__social-link--pinterest">
                         <a href="https://in.pinterest.com/hykonindia/" target="_blank"
                            data-checked="false"><i class="fab fa-pinterest-p"></i></a>
                      </li>
                   </ul>
                </div>
             </div>
        </li>
        <li class="mobile-footer-links">
          <h5 class="footer-links__title">Quick Links <i class="fas fa-angle-down"></i></h5>
            <ul class="container footer-links__list">
                <li class="footer-links__item"><a href="https://www.hykonindia.com/news"
                class="footer-links__link" data-checked="false"
                data-link-updated="https://www.hykonindia.com/news">NEWS</a></li>
                <li class="footer-links__item"><a href="https://www.hykonindia.com/blog"
                class="footer-links__link" data-checked="false"
                data-link-updated="https://www.hykonindia.com/blog">BLOG</a></li>
                <li class="footer-links__item"><a href="https://www.hykonindia.com/event"
                class="footer-links__link" data-checked="false"
                data-link-updated="https://www.hykonindia.com/event">EVENT</a></li>
                <li class="footer-links__item"><a
                href="https://www.hykonindia.com/company/warranty"
                class="footer-links__link" data-checked="false"
                data-link-updated="https://www.hykonindia.com/company/warranty">WARRANTY
                REGISTRATION</a>
                </li>
                <li class="footer-links__item"><a
                href="https://www.hykonindia.com/page/privacy-policy"
                class="footer-links__link" data-checked="true"
                data-link-updated="https://www.hykonindia.com/page/privacy-policy">PRIVACY
                POLICY</a>
                </li>
                <li class="footer-links__item"><a
                href="https://www.hykonindia.com/page/terms-and-conditions"
                class="footer-links__link" data-checked="true"
                data-link-updated="https://www.hykonindia.com/page/terms-and-conditions">TERMS
                AND CONDITIONS</a>
                </li>
                <li class="footer-links__item"><a
                href="https://www.hykonindia.com/page/return-policy"
                class="footer-links__link" data-checked="true"
                data-link-updated="https://www.hykonindia.com/page/return-policy">RETURN
                POLICY</a>
                </li>
                <li class="footer-links__item"><a
                href="https://www.hykonindia.com/page/shipping-policy"
                class="footer-links__link" data-checked="true"
                data-link-updated="https://www.hykonindia.com/page/shipping-policy">SHIPPING
                POLICY</a>
                </li>
            </ul>
            {% comment %} <h5 class="footer-links__title">Popular Products <i class="fas fa-angle-down"></i></h5>
                <ul class="footer-links__list">
                    <li class="footer-links__item"><a
                        href="https://www.hykonindia.com/products/bis?variant=bis-600"
                        class="footer-links__link" data-checked="true"
                        data-link-updated="https://www.hykonindia.com/products/bis?variant=bis-600">BIS
                        600</a>
                    </li>
                    <li class="footer-links__item"><a
                        href="https://www.hykonindia.com/products/soliz-solar-inverter?variant=soliz-solar-inverter-2000va-24v"
                        class="footer-links__link" data-checked="true"
                        data-link-updated="https://www.hykonindia.com/products/soliz-solar-inverter?variant=soliz-solar-inverter-2000va-24v">SOLIZ
                        SOLAR INVERTER 2000VA-24V</a>
                    </li>
                    <li class="footer-links__item"><a
                        href="https://www.hykonindia.com/products/100ah-hykon-tubular-battery?variant=120ah-hytt"
                        class="footer-links__link" data-checked="true"
                        data-link-updated="https://www.hykonindia.com/products/100ah-hykon-tubular-battery?variant=120ah-hytt">100AH
                        HYKON TUBULAR BATTERY</a>
                    </li>
                    <li class="footer-links__item"><a
                        href="https://www.hykonindia.com/electric-three-wheelers"
                        class="footer-links__link" data-checked="true"
                        data-link-updated="https://www.hykonindia.com/electric-three-wheelers">ELECTRIC
                        THREE WHEELERS</a>
                    </li>
                    <li class="footer-links__item"><a
                        href="https://www.hykonindia.com/solar-inverter"
                        class="footer-links__link" data-checked="true"
                        data-link-updated="https://www.hykonindia.com/solar-inverter">SOLAR
                        INVERTER</a>
                    </li>
                    <li class="footer-links__item"><a
                        href="https://www.hykonindia.com/lithium-ion-batteries-for-electric-vehicles"
                        class="footer-links__link" data-checked="true"
                        data-link-updated="https://www.hykonindia.com/lithium-ion-batteries-for-electric-vehicles">LITHIUM
                        ION BATETRIES FOR ELECTRIC VEHICLES</a>
                    </li>
                    <li class="footer-links__item"><a
                        href="https://www.hykonindia.com/stores/solar-water-heater"
                        class="footer-links__link" data-checked="true"
                        data-link-updated="https://www.hykonindia.com/stores/solar-water-heater">SOLAR
                        WATER HEATER</a>
                    </li>
                </ul> {% endcomment %}
        </li>
        <li class="mobile-footer-links">
            <div class="news-letter">
                <div id="new_568_letter" class="news-fld">
                    <h5 class="footer-newsletter__title">Newsletter</h5>
                    <div class="footer-newsletter__text">
                        Subscribe here for newsletters
                    </div>
                    <form action="https://www.hykonindia.com/newsletter/save" method="POST" class="footer-newsletter__form" id="newsletterFrm" novalidate="novalidate">
                        <input type="hidden" name="_token" value="olzt8tORoR79ymiHP2an0ePvrpqfBTMzdP6d4IPd"> <label class="sr-only" for="footer-newsletter-address">Email Address</label>
                        <input type="text" name="email" class="footer-newsletter__form-input form-control" id="footer-newsletter-address" placeholder="Email Address...">
                    
                        <div class="footer-emil-btn">
                            <button class="btn btn-primary btn-custom" id="subscribe-btn">Subscribe</button>
                        </div>
                    </form>
                    <span class="text-danger " id="email_error"></span>
                </div>
            </div>
            {% comment %} <h5 class="footer-links__title">Popular Categories <i class="fas fa-angle-down"></i></h5>
            <ul class="footer-links__list">
               <li class="footer-links__item"><a
                  href="https://www.hykonindia.com/ups-and-inverters"
                  class="footer-links__link" data-checked="false"
                  data-link-updated="https://www.hykonindia.com/ups-and-inverters">UPS
                  &amp; INVERTERS</a>
               </li>
               <li class="footer-links__item"><a
                  href="https://www.hykonindia.com/lithium-battery"
                  class="footer-links__link" data-checked="false"
                  data-link-updated="https://www.hykonindia.com/lithium-battery">LITHIUM
                  BATTERY</a>
               </li>
               <li class="footer-links__item"><a href="https://www.hykonindia.com/solar-light"
                  class="footer-links__link" data-checked="false"
                  data-link-updated="https://www.hykonindia.com/solar-light">SOLAR
                  LIGHT</a>
               </li>
            </ul> {% endcomment %}
        </li>
        
        {% comment %} <div class="news-letter">
            <div id="new_568_letter" class="news-fld">
                <h5 class="footer-newsletter__title">Newsletter</h5>
                <div class="footer-newsletter__text">
                    Subscribe here for newsletters
                </div>
                <form action="https://www.hykonindia.com/newsletter/save" method="POST" class="footer-newsletter__form" id="newsletterFrm" novalidate="novalidate">
                    <input type="hidden" name="_token" value="olzt8tORoR79ymiHP2an0ePvrpqfBTMzdP6d4IPd"> <label class="sr-only" for="footer-newsletter-address">Email Address</label>
                    <input type="text" name="email" class="footer-newsletter__form-input form-control" id="footer-newsletter-address" placeholder="Email Address...">
                
                    <div class="footer-emil-btn">
                        <button class="btn btn-primary btn-custom" id="subscribe-btn">Subscribe</button>
                    </div>
                </form>
                <span class="text-danger " id="email_error"></span>
            </div>
        </div> {% endcomment %}
        <div class="site-footer__bottom">
            <div class="site-footer__copyright">
               © 2023 HYKON INDIA LIMITED. All rights reserved.
            </div>
        </div>
    </div>
   
</footer>
<script>
    const headings = document.querySelectorAll('.mobile-footer ul li h5');
    headings.forEach(heading => {
        heading.addEventListener('click', () => {
        heading.classList.toggle('active');
    });
});
</script>