@import './bs-breakpoint';

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {

	z-index: 1;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	
}

.owl-nav button span {
	font-size: 30px;
	height: 100%;
	display: block;
	width: 100%;
}
.site-banner .owl-carousel button.owl-prev {
	background-image: url('/static/Icons/Arrow.svg') !important;
	background-repeat: no-repeat;
	background-position: center center;
	left: 0;
}
.owl-carousel .owl-nav button.owl-prev {
	background-image: url('/static/Icons/Arrow\ with\ fill.svg');
	background-repeat: no-repeat;
	background-position: center center;
	left: 0;
}

.owl-carousel .owl-nav button.owl-next {
	background-image: url('/static/Icons/Arrow\ with\ fill.svg');
	background-repeat: no-repeat;
	background-position: center center;
	right: 0;
}

.owl-carousel .owl-nav {
	margin: 0;
}

.btn-wrap {
	text-align: center;
	width: 100%;
}

button {
	background-color: #ddd;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	margin: 10px;
	font-size: 18px;
	font-weight: 600;
	transition: all 0.5s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.owl-theme .owl-nav .disabled,
button.disabled {
	opacity: 0.6;
}

.owl-nav button span {
	display: block;
	height: auto;
}

// .owl-carousel .owl-nav button.owl-prev {
// 	background-image: url('./../Icons/Arrow\ with\ fill.svg');
// 	background-repeat: no-repeat;
// 	background-position: center center;
// 	left: 5%;
// }
// .owl-carousel .owl-nav button.owl-prev:hover, 
// .owl-carousel .owl-nav button.owl-prev:focus{
// 	background-image:url('./../Icons/hover.svg');
// 	background-repeat: no-repeat;
// 	background-position: center center;
// 	transform: rotate(180deg);
// 	right: 5%;
// }

// .owl-carousel .owl-nav button.owl-next {
// 	background-image: url('./../Icons/Arrow\ with\ fill.svg');
// 	background-repeat: no-repeat;
// 	background-position: center center;
// 	transform: rotate(180deg);
// 	right: 5%;
// }

.owl-dots {
	position: absolute;
	bottom: -10%;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	.owl-dot {
		--size: 8px;
		width: var(--size);
		height: var(--size);
		border-radius: 100px;
	}
}

.site-banner .owl-dots {
	bottom: 3%;
}

.latestNews .owl-dots {
	bottom: -15%;
}

.owl-carousel button.owl-dot {
	background: #D9D9D9;
}

.owl-carousel button.owl-dot.active {
	background: $primary;
}

.post-card__name {
	margin-top: 10px;

	a {
		font-family: var(--ff-inter);
		font-weight: 600;
		font-size: 16px;
		color: black;
		text-decoration: none;
	}
}

.post-card__image img {
	width: 356px;
	height: 200px;
}

.owl-header {
	margin-bottom: 1rem;

	.owl-title {
		font-family: var(--ff-inter);
		font-style: normal;
		font-weight: 600;
		font-size: 26px;
		line-height: 24px;
		color: #008DD2;
		margin-top: 20px;
		text-align: center;
		margin-bottom: 10px;
	}

	p {
		font-family: var(--ff-inter);
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #222222;
		text-align: center;
	}
}

.show_case.owl-carousel .owl-nav button.owl-prev,
.show_case.owl-carousel .owl-nav button.owl-next {
	display: none;

	@include respond-to("medium") {
		display: block;
	}

}




.show_case.owl-carousel .owl-nav button.owl-prev {
	left: -5%;
	// background-color: #000;
}

.show_case.owl-carousel .owl-nav button.owl-next {
	right: -5%;
}

// Awards

.awards.owl-carousel .owl-nav button.owl-prev {
	left: 10%;
	@include respond-to("medium"){
		left: -50px;
	}
}

.awards.owl-carousel .owl-nav button.owl-next {
	right: 10%;
	@include respond-to("medium"){
		right: -50px;
	}
}


.awards.owl-carousel .owl-dots {
	bottom: -40px;
}

.owl-nav .owl-prev {
	background-image: url('./../Icons/Arrow\ with\ fill.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.carousel-wrap {
	width: 1000px;
	margin: auto;
	position: relative;
}

.owl-carousel .owl-nav {
	overflow: hidden;
	height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #2caae1;
}


.owl-carousel .item {
	text-align: center;
}

.owl-carousel .nav-btn {
	height: 47px;
	position: absolute;
	width: 26px;
	cursor: pointer;
	top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
	pointer-events: none;
	opacity: 0.2;
}

.owl-carousel .prev-slide {
	background: url('./../Icons/Arrow\ with\ fill.svg') no-repeat scroll 0 0;
	left: -33px;
}

.owl-carousel .next-slide {
	background: url('./../Icons/Arrow\ with\ fill.svg') no-repeat scroll -24px 0px;
	right: -33px;
}

.owl-carousel .prev-slide:hover {
	background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
	background-position: -24px -53px;
}

span.img-text {
	text-decoration: none;
	outline: none;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	cursor: pointer;
	width: 100%;
	font-size: 23px;
	display: block;
	text-transform: capitalize;
}

span.img-text:hover {
	color: #2caae1;
}



.news-detail.owl-carousel .owl-nav button.owl-prev,
.news-detail.owl-carousel .owl-nav button.owl-next {


	@include respond-to("medium") {
		display: none;
	}
	

}


.news-detail.owl-carousel .owl-nav button.owl-prev,
.news-detail.owl-carousel .owl-nav button.owl-next {

bottom: 0;
right: 0;
top: inherit;
}
.news-detail.owl-carousel .owl-nav button.owl-next{left: 50px;}
.news-detail.owl-carousel .owl-nav {
	position: absolute;
    overflow: visible;
    height: 0px;
	right: 116px;
    bottom: -35px;
}


.similar-products .prd-filt-list .product-card .product-card__actions{    text-align: left;}
.similar-products .owl-carousel .owl-dots.disabled,
.similar-products .owl-carousel .owl-nav.disabled{display: block;}
.similar-products .owl-carousel .owl-nav button.owl-prev {display: block;}
.similar-products .owl-carousel .owl-nav button.owl-prev{left: 50px;}
.similar-products .owl-carousel .owl-nav {left: 50px;}
.similar-products .owl-dots{display: none;}